* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}

.app {
  min-height: 100vh;
  padding-top: 44px;
}


.status-bar {
width: 100%;
display: flex;
align-items: center;
justify-content: center;
gap: 250px;

}

.time {
  font-weight: 600;
}

.status-icons {
  display: flex;
  align-items: center;
  gap: 4px;
}
